flask
flask-cors
Flask-Session
python-dotenv
groq
requests
beautifulsoup4
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pytz
ffmpeg-python
pymongo
pymongo[srv]
soundfile
pydub
gunicorn==21.2.0
gevent==23.9.1